@import 'tailwindcss';

@theme inline {
  --font-display: var(--font-mulish);
  --font-title: var(--font-geologica);

  --color-palette-accent: #f36326;
  --color-palette-accent-hover: #e2581d;

  --color-palette-black-dark: #292929;

  --color-palette-gray-dark: #535353;
  --color-palette-gray-light: #d4d4d4;

  --color-palette-blue-dark: #109be9;
  --color-palette-blue-light: #cfecfc;

  --height-128: 32rem;

  --text-h1: 2.5rem;
  --text-h1--line-height: 120%;
  --text-h1--letter-spacing: 0.003em;
  --text-h1--font-weight: 700;

  --text-h2: 2rem;
  --text-h2--line-height: 120%;
  --text-h2--letter-spacing: 0.005em;
  --text-h2--font-weight: 700;

  --text-h3: 1.5rem;
  --text-h3--line-height: 120%;
  --text-h3--letter-spacing: 0.005em;
  --text-h3--font-weight: 600;

  --text-h4: 1.25rem;
  --text-h4--line-height: 120%;
  --text-h4--letter-spacing: 0.005em;
  --text-h4--font-weight: 600;

  --text-h5: 1.125rem;
  --text-h5--line-height: 120%;
  --text-h5--letter-spacing: 0.005em;
  --text-h5--font-weight: 600;

  --text-h6: 1rem;
  --text-h6--line-height: 120%;
  --text-h6--letter-spacing: 0.005em;
  --text-h5--font-weight: 600;

  --text-content: 1rem;
  --text-content--line-height: 150%;
  --text-content--letter-spacing: 0.005em;
  --text-content--font-weight: 400;

  --text-caption: 0.875rem;
  --text-caption--line-height: 120%;
  --text-caption--letter-spacing: 0.008em;
  --text-caption--font-weight: 600;
}

:root {
  @apply font-display;
  @apply text-palette-black-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-title;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.comment {
  pre {
    @apply bg-palette-gray-light m-4 rounded-lg p-4 whitespace-pre-wrap;
  }
  a {
    @apply text-palette-blue-dark;
  }
}
